/*
 * Font Icon
 * Developed by @troutacular (https://github.com/troutacular/sass-font-icon)
 * 2014-05-22
 * Last update: 2014-05-22
 * License: MIT (http://opensource.org/licenses/mit-license.html)
 *
 * You must have your fonts already declared.
 * 
 * usage:
 * .class { @include icon-font( [icon-text], [font-family], [placement], [padding], [alignment], [color], [icon-only], [icon-size] ); }
 */


@mixin icon-font( $icon-text, $font-family: 'fontello', $placement: before, $padding: .5em, $alignment: false, $color: false, $icon-only: false, $icon-size: false) {
	
	@if $alignment == outside {
		position: relative;
	}
	@if $placement == before {
		&:before {
			font-family: $font-family;
			font-weight: normal;
			font-style: normal;
			speak: none;
			display: inline-block;
			text-decoration: none;
			text-align: center;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: $icon-text;
			@if $color != false {
				color: $color;
			}
			@if $alignment == inside {
				@if $icon-only != true {
					padding-right: $padding;
				}
			}
			@if $alignment == outside {
				position: absolute;
				left: -$padding;
			}
			@if $icon-size != false {
				font-size: $icon-size;
			}
		}
	}
	@if $placement == after {
		&:after {
			font-family: $font-family;
			font-weight: normal;
			font-style: normal;
			speak: none;
			display: inline-block;
			text-decoration: none;
			text-align: center;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: $icon-text;
			@if $color != false {
				color: $color;
			}
			@if $alignment == inside {
				@if $icon-only != true {
					padding-left: $padding;
				}
			}
			@if $alignment == outside {
				position: absolute;
				right: $padding;
			}
			@if $icon-size != false {
				font-size: $icon-size;
			}
		}
	}
	@if $icon-only == true {
		display: block;
		position: relative;
		margin: 0;
		color: transparent;
		@if $padding != false {
			padding-right: $padding;
		}
		@if $icon-size != false {
			height: $icon-size;
			width: $icon-size;
		} @else {
			height: 1em;
			width: 1em;
		}
		&:hover,
		&:active {
			color: transparent;
		}
		overflow: hidden;
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			padding: 0;
			@if $color != false {
				color: $color;
			} @else {
				color: #000;
			}
			@if $icon-size != false {
				font-size: $icon-size;
			}
		}
	}
}